{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Add Participant</h2>
        <form action="/add_part" method="post">
            <div class="mb-3">
                <label for="First_Name" class="form-label">First Name:</label>
                <input type="text" id="First_Name" name="First_Name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="Last_Name" class="form-label">Last Name:</label>
                <input type="text" id="Last_Name" name="Last_Name" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Participant</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="mt-3">
                    <ul class="list-group">
                        {% for category, message in messages %}
                            <li class="list-group-item list-group-item-{{ 'success' if category == 'success' else 'danger' }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    </div>
</div>

<br>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Current Participants</h2>
        <ul class="list-group">
            {% for user in participants %}
                <li class="list-group-item">{{ user[0] }} - {{ user[1] }} {{ user[2] }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
