{% extends 'base.html' %}

{% block title %}Add Season{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Add Season</h2>
        <form action="/add_season" method="post">
            <div class="mb-3">
                <label for="seasonyear" class="form-label">Season Year:</label>
                <input type="text" id="seasonyear" name="seasonyear" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="seasondesc" class="form-label">Season Description:</label>
                <input type="text" id="seasondesc" name="seasondesc" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Season</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="mt-3">
                    <ul class="list-group">
                        {% for category, message in messages %}
                            <li class="list-group-item list-group-item-{{ 'success' if category == 'success' else 'danger' }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    </div>
</div>

<br>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Manage Seasons</h2>
        <div class="container">
            <div class="row">
            {% for season in seasons %}


            <div class="col-12 mb-3">


                {% if season[3] == 'F' %} 
                <div class="d-flex justify-content-between align-items-center bg-dark bg-opacity-50 p-2 border rounded">
                {% elif season[3] == 'C' %}
                <div class="d-flex justify-content-between align-items-center bg-success bg-opacity-50 p-2 border rounded">
                    {% else %}
                <div class="d-flex justify-content-between align-items-center bg-light p-2 border rounded">
                    {% endif %}


            
                    <span> {{ season[1] }} - {{ season[2] }}</span> 
                    <div>
                        <a href="{{ url_for('update_season_status', season_id=season[0], status='C') }}" class="btn btn-sm btn-success me-2">Mark as Current Season</a>
                        <a href="{{ url_for('update_season_status', season_id=season[0], status='O') }}" class="btn btn-sm btn-dark me-2">Reset Status</a>
                        <a href="{{ url_for('update_season_status', season_id=season[0], status='F') }}" class="btn btn-sm btn-warning me-2">Finalize Season</a>
                        <a href="{{ url_for('assign', season_id=season[0]) }}" class="btn btn-sm btn-primary me-2">Manage Participants</a>
                        <a href="{{ url_for('setup_week', season_id=season[0]) }}" class="btn btn-sm btn-primary me-2">Manage Weeks</a>
                    </div>
                </div>
            </div>



        {% endfor %}
    </div></div>
    </div>
</div>
{% endblock %}
