{% extends 'base.html' %}

{% block title %}Edit Score {% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Edit Score for  Week {{ week_data[0] }},  {{ week_data[1] }} for {{ season_data[0] }}</h2>
        <form action="{{ url_for('edit_score', season_id=season_id, week_id=week_id) }}" method="post">
            <div class="mb-3">
                <label for="giants" class="form-label">Giants:</label>
                <input type="text" id="giants" name="giants" class="form-control" value="{{ score[0] }}" required>
            </div>
            <div class="mb-3">
                <label for="opponent" class="form-label">Opponent:</label>
                <input type="text" id="opponent" name="opponent" class="form-control" value="{{ score[1] }}" required>
            </div>

            <button type="submit" class="btn btn-primary">Update Score</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="mt-3">
                    <ul class="list-group">
                        {% for category, message in messages %}
                            <li class="list-group-item list-group-item-{{ 'success' if category == 'success' else 'danger' }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}
