{% extends 'base.html' %}

{% block title %}View Week{% endblock %}


{% block content %}


<h2>Grid for Week {{ week_id }} of Season {{ season_id }}</h2>

<!-- Displaying the Grid with 1-based indexing -->


<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
            <th></th><!-- Top-left empty cell -->
                {% for col in range(1, 11) %}
                    <th>{{ x_axis[col-1] }}</th><!-- X axis numbers -->
                {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in range(1, 11) %}
            <tr>
                <th>
                    {{ y_axis[row-1] }}
                </th>
                <!-- Y axis number -->
                    {% for col in range(1, 11) %} 
                    {% set index = (row - 1) * 10 + col %} 
                        <td>
                            {{ grid_dict.get(index, '') }}
                        </td>
                    {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
